* {
  color: white; }

body {
  z-index: 2;
  background-color: #0b0b0b;
  font-family: 'Abhaya Libre', serif;
  margin: 0;
  padding: 0; }

.clearfix::after {
  display: table;
  content: "";
  clear: both; }

.main-wrapper {
  margin: 0 auto;
  max-width: 1600px; }

.second-wrapper {
  margin: 0 auto;
  max-width: 1440px; }

.shake:hover {
  animation: shaking 1s ease-in; }

@keyframes shaking {
  0% {
    transform: translate(0); }
  20%,
  40%,
  60%,
  80% {
    transform: translate(1rem); } }

canvas {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 1; }

/* Animation */
.content-skills h2 {
  position: relative; }

.content-skills h2:before {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: all .3s; }

h2:hover:before {
  width: 100%; }

.Projects {
  position: relative; }

.Projects::before {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: all .3s; }

.Projects:hover::before {
  width: 100%; }

.red-logo {
  color: #060607;
  padding-left: 5%;
  padding-top: 3%; }

.menu {
  float: right;
  padding-top: 1%; }

.menu li {
  list-style: none;
  float: left;
  margin-left: 50px; }

.menu a {
  color: white;
  font-size: 1.875rem;
  text-decoration: none;
  transition: 0.2s;
  position: relative;
  padding: 15px 30px; }

.menu a:hover {
  animation: animate 4s linear infinite; }

@keyframes animate {
  0% {
    background-position: 0%; }
  100% {
    background-position: 100%; } }

.menu a::before {
  content: '';
  background: #a72844;
  background-size: 100px;
  box-shadow: 0 0 10px #a72844, 0 0 20px #a72844, 0 0 40px #a72844;
  border-radius: 20px;
  transition: 1s;
  opacity: 0;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1; }

.menu a:hover::before {
  filter: blur(30px);
  opacity: 1; }

.background-img {
  margin-left: 8%;
  z-index: -1; }

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 1s steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 22.8rem; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-style: hidden; } }

/* Animation */
.hamburguer {
  display: none; }

.main-content {
  width: 100%; }

.myself {
  background-image: url("../../Img/Nacho-nobckg.jpeg");
  background-repeat: no-repeat;
  background-position-x: 48%;
  float: left;
  height: 10%;
  margin-top: 5%;
  width: 55%; }

.myself h2 {
  font-size: 3.75rem;
  margin-bottom: 0;
  overflow: hidden;
  padding-top: 6%;
  padding-left: 11%;
  white-space: nowrap; }

.social-media_header {
  padding: 0 0 34%  21%; }

.social-media_header img {
  height: 30px;
  max-width: 100%;
  padding-left: 1%; }

.about-me {
  padding-top: 7%; }

.about-me p {
  font-size: 1.56rem; }

.path {
  stroke-dasharray: 150;
  stroke-dashoffset: 1000;
  animation: dash 10s linear alternate infinite; }

@keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }

.second-wrapper {
  background-color: #0b0b0b; }

.content-skills {
  display: flex;
  align-items: center; }

.web-skills {
  justify-content: space-between;
  padding-right: 17%;
  text-align: center; }

.web-skills .web-img {
  display: block;
  margin: 0 auto; }

.web-skills h2 {
  font-size: 2.5rem;
  display: inline-block;
  letter-spacing: 2px;
  margin: 0; }

.web-skills img {
  margin-left: 15px;
  margin-top: 10px;
  max-width: 100%; }

.web-skills p {
  font-size: 1.25rem; }

.design-skills {
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 5%; }

.design-skills img {
  display: block;
  margin: 0 auto; }

.design-skills h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 0;
  text-align: center; }

.design-skills p {
  font-size: 1.25rem;
  text-align: center; }

.soft-skills {
  justify-content: space-between;
  padding-left: 14%; }

.soft-skills img {
  display: block;
  margin: 0 auto; }

.soft-skills h2 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 0; }

.soft-skills p {
  font-size: 1.25rem;
  text-align: center; }

.Projects {
  display: inline-block;
  font-size: 3.75rem;
  margin-left: 6%; }

.Main-content2 {
  display: flex; }

.more-projects {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  margin-left: 3%; }

.more-projects a {
  font-size: 1.875rem;
  text-decoration: none; }

.more-projects a {
  position: relative; }

.more-projects a::before {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: all .3s; }

.more-projects a:hover:before {
  width: 100%; }

.footer {
  display: flex;
  padding-top: 7%;
  padding-bottom: 5%; }

.contact-left {
  justify-content: space-between;
  padding-left: 6%; }

.contact-left p {
  font-size: 1.25rem; }

.blue-paragraph {
  color: #3186D4; }

.contact-left a {
  text-decoration: none; }

.white-logo-footer {
  padding-left: 9%; }

.main-footer {
  justify-content: space-between;
  text-align: center;
  padding-left: 24%; }

.main-footer p {
  margin-top: 6.25%;
  margin-left: 7%; }

.footer-contact {
  justify-content: space-between;
  padding-left: 20%; }

.footer-contact input {
  color: #d6bfbf;
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #782436;
  margin-bottom: 15%; }

.footer-contact button {
  border-radius: 4px;
  background-color: #782436;
  border: none;
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  padding: 17px 50px 17px 50px; }

.footer-contact button:hover {
  background: #a72844;
  box-shadow: 0 0 10px #a72844, 0 0 40px #a72844, 0 0 50px #a72844; }

.social-media_footer {
  margin-top: 10%;
  margin-left: 5%; }

.social-media_footer img {
  height: 24px;
  max-width: 100%;
  padding-left: 2%; }

.footer-contact h2 {
  font-size: 1.875rem; }

.project {
  display: flex;
  flex-direction: column; }

.portfolio h2 {
  font-size: 3.75rem;
  margin-bottom: 0;
  text-align: center; }

.category {
  padding-bottom: 69%; }

.category a {
  float: right;
  text-decoration: none;
  color: #e1d4e4; }

.white-logo-p {
  padding-top: 3%;
  padding-left: 5%; }

.grid {
  display: grid;
  margin-bottom: 4%;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  width: 104rem; }

.grid__item {
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  transform-style: preserve-3d; }

.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5); }

.grid__card--img {
  display: block;
  width: 100%;
  height: 24rem;
  object-fit: cover; }

.grid__card--content {
  text-align: center;
  padding: 1rem; }

.grid__card--button {
  display: inline-block;
  color: #2a2a2a;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px 18px;
  font-weight: bold;
  transition: 0.5s; }
  .grid__card--button:hover {
    border-radius: 10px;
    color: black;
    background: #e7e966;
    box-shadow: 0 0 10px #e7e966, 0 0 20px #e7e966, 0 0 40px #e7e966, 0 0 80px #e7e966;
    cursor: pointer; }

.total-projects {
  display: block;
  font-size: 25px;
  text-align: center; }

.total-projects a {
  animation: animateAncord 1s linear infinite;
  text-decoration: none; }

@keyframes animateAncord {
  0%, 80% {
    color: #333;
    text-shadow: none; }
  100% {
    color: #e7e966;
    text-shadow: 0 0 10px #e7e966, 0 0 20px #e7e966, 0 0 40px #e7e966, 0 0 80px #e7e966, 0 0 120px #e7e966, 0 0 160px #e7e966; } }

.white-logo-2 {
  color: #060607;
  padding-top: 3%;
  padding-left: 5%; }

.info-contact-me {
  float: left;
  margin-left: 5%;
  margin-top: 9.3%;
  width: 50%; }

.info-contact-me img {
  margin-top: 20px;
  margin-right: 20px;
  width: 45px; }

.ubicacion {
  font-size: 1.5rem; }

.E-mail {
  font-size: 1.5rem; }

.Phone {
  font-size: 1.5rem; }

.localizacion {
  display: flex;
  margin-bottom: 3%; }

.Correo {
  display: flex;
  margin-bottom: 3%; }

.Telefono {
  display: flex; }

.info-contact-me h3 {
  color: #82CACE;
  margin-top: 15px; }

.contact-me {
  float: right;
  width: 45%;
  margin-top: 3%; }

.Contact {
  text-align: center; }

.Contact h2 {
  font-size: 2.5rem; }

.Contact p {
  font-size: 1.25rem; }

.form input:nth-child(1) {
  margin-top: 5%; }

.form h2 {
  color: #9f9a96;
  font-size: 1.25rem;
  margin: 0; }

.form input:hover {
  border-bottom: 2px solid cornflowerblue; }

.form textarea {
  border: none;
  border-bottom: 2px solid  white;
  background-color: transparent;
  margin-bottom: 60px;
  resize: none;
  width: 100%; }

.form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid  white;
  font-size: 1.25rem;
  margin-bottom: 8%;
  width: 100%; }

.form input::-webkit-input-placeholder {
  color: #9f9a96; }

.form button {
  font-size: 1.56rem;
  background-color: #782436;
  border: none;
  border-radius: 4px;
  display: block;
  margin-top: 3%;
  margin: 0 auto;
  padding: 18px 100px 18px 100px; }

.form button:hover {
  background: #a72844;
  box-shadow: 0 0 10px #a72844, 0 0 40px #a72844; }

#special-menu {
  padding-right: 0.5%; }

@media (max-width: 767px) {
  .red-logo img {
    padding-top: 0%;
    width: 68px; }
  .grid {
    width: 23rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr)); }
  .grid2 {
    width: 23rem;
    grid-template-columns: repeat(auto-fit, minmax(23.5rem, 1fr)); }
  .red-logo {
    padding-left: 5%;
    padding-top: 9%; }
  .hamburguer {
    display: block; }
  .hamburger {
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    height: 30px;
    right: 5%;
    top: 3%;
    width: 30px;
    padding: 20px 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .hamburger.is-active {
    background-color: none; }
  .layer {
    background: #2fe4aa;
    border-radius: 2px;
    height: 4px;
    margin-bottom: 4px;
    width: 28px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98); }
  .hamburger:hover .top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  .hamburger:hover .bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .hamburger.is-active .top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important; }
  .hamburger.is-active .mid {
    opacity: 0; }
  .hamburger.is-active .bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important; }
  .menuppal.is_active {
    transform: translate3d(0px, 0px, 0px); }
  .menuppal {
    background-color: rgba(85, 85, 79, 0.4);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001; }
  .menuppal ul {
    text-align: center;
    margin: 0;
    padding: 0; }
  .menuppal ul li {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    height: 3em;
    list-style: none;
    line-height: 3em;
    padding-right: 8%;
    padding-left: 11%;
    text-transform: none; }
  .menuppal ul li:nth-child(1) {
    padding-top: 19%; }
  .menuppal ul li a {
    background: black;
    border-radius: unset;
    text-decoration: none; }
  .menuppal ul li a:hover {
    color: white;
    text-decoration: none; }
  .menu li {
    float: none;
    margin-left: 0%; }
  .myself {
    background-size: contain;
    width: 100%; }
  .myself h2 {
    font-size: 3.4rem;
    padding-left: 2%; }
  .about-me {
    float: right;
    text-align: center;
    width: 100%;
    padding-top: 5%; }
  .social-media_header {
    padding: 0px 0 34% 16%; }
  .content-skills {
    display: block; }
  .web-skills {
    justify-content: unset;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center; }
  .design-skills {
    justify-content: unset;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center; }
  .soft-skills {
    justify-content: unset;
    padding-left: 0%;
    text-align: center; }
  .Projects {
    display: flex;
    margin: auto;
    margin-bottom: 10%;
    justify-content: center;
    text-align: center;
    padding-left: 0; }
  .project {
    align-items: center;
    justify-content: center; }
  .Main-content2 {
    display: block; }
  .background-firstproject {
    height: 300px;
    margin-bottom: 4%;
    margin-left: 0%; }
  .background-secondproject {
    height: 294px;
    margin-bottom: 4%; }
  .background-thirproject {
    height: 280px;
    margin-bottom: 4%; }
  .category2 {
    padding-bottom: 0%; }
  .footer {
    display: block; }
  .contact-left {
    text-align: center;
    padding-left: 0; }
  .white-logo-footer {
    margin-top: 2%;
    padding-left: 0%;
    width: 68px; }
  .social-media_footer {
    margin-top: 4%; }
  .main-footer {
    padding-left: 0%;
    text-align: center; }
  .footer-contact {
    padding-left: 0%;
    text-align: center; }
  .footer-contact input {
    margin-bottom: 4%; }
  .contact-me {
    width: 100%; }
  .info-contact-me {
    display: unset;
    margin-top: 6%;
    margin: 0 auto;
    width: 100%; }
  .info-contact-me img {
    margin-top: 0;
    margin-right: 0; }
  .localizacion {
    display: unset;
    text-align: center;
    margin-right: 0%; }
  .Correo {
    display: unset;
    text-align: center; }
  .info-contact-me h3 {
    color: #82CACE; }
  .Telefono {
    display: unset;
    margin-left: 0;
    text-align: center; }
  .background-1 {
    margin-bottom: 5%;
    width: 330px;
    margin-right: 4%; }
  .background-2 {
    margin-bottom: 5%;
    width: 330px;
    margin-right: 4%; }
  .background-3 {
    margin-bottom: 5%;
    width: 330px;
    margin-right: 4%; }
  .background-4 {
    margin-bottom: 5%;
    width: 330px; }
  .background-5 {
    margin-bottom: 5%;
    width: 330px; }
  .background-6 {
    margin-bottom: 5%;
    width: 330px; }
  .background-7 {
    margin-bottom: 5%;
    width: 330px; }
  .background-8 {
    margin-bottom: 5%;
    width: 330px; }
  .background-9 {
    margin-bottom: 5%;
    width: 330px; }
  .background-10 {
    margin-bottom: 5%;
    width: 330px; }
  .background-11 {
    margin-bottom: 5%;
    width: 330px; }
  .background-12 {
    margin-bottom: 5%;
    width: 330px; }
  .white-logo-p img {
    padding-top: 6.3%;
    width: 91px; }
  .first-section {
    display: unset; }
  .second-section {
    display: unset; }
  .third-section {
    display: unset; }
  svg {
    width: 20%;
    height: 20%; }
  .main-footer p {
    margin-left: 0; }
  .social-media_footer {
    margin-left: 0; }
  .web-skills h2 {
    display: block; } }
