@mixin animationBorder {
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: all .3s;
}

@mixin  backroundPhone{
  margin-bottom: 5%;
  width: 330px;
}

@mixin backgroundProyects {
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  justify-content: space-between;
}

