.footer{
  display: flex;
  padding-top: 7%;
  padding-bottom: 5%;
}

.contact-left{
  justify-content: space-between;
  padding-left: 6%;
}

.contact-left p{
  font-size: 1.25rem;
}

.blue-paragraph{
  color: #3186D4;
}

.contact-left a{
  text-decoration: none;
}


.white-logo-footer{
  padding-left: 9%;
}

.main-footer{
  justify-content: space-between;
  text-align: center;
  padding-left: 24%;
}
.main-footer p{
  margin-top:6.25%;
  margin-left: 7%;
}

.footer-contact{
  justify-content: space-between;
  padding-left: 20%;
}
.footer-contact input{
  color: rgb(214, 191, 191);
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #782436;
  margin-bottom: 15%;
}

.footer-contact button{
  border-radius: 4px;
  background-color: #782436;
  border: none;
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  padding: 17px 50px 17px 50px;
}
.footer-contact button:hover{
  background: #a72844;
  box-shadow: 0 0 10px #a72844,
              0 0 40px #a72844,
              0 0 50px #a72844;
}

.social-media_footer{
  margin-top: 10%;
  margin-left: 5%;
}

.social-media_footer img{
  height: 24px;
  max-width: 100%;
  padding-left: 2%;
}

.footer-contact h2{
  font-size: 1.875rem;
}


