@media(max-width:767px){
  .red-logo img{
    padding-top: 0%;
    width: 68px;
  }
  .grid{
    width:23rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  }
  .grid2{
    width:23rem;
    grid-template-columns: repeat(auto-fit, minmax(23.5rem, 1fr));
  }
  .red-logo {
    padding-left: 5%;
    padding-top: 9%;
  }
  .hamburguer{
    display: block;
  }
  .hamburger{
    background-color: transparent;
    position: absolute;
    cursor:pointer;
    height:30px;
    right: 5%;
    top: 3%;
    width:30px;
    padding:20px 20px;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index:1002;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }
  .hamburger.is-active{
    background-color:none;
  }
  .layer{
    background:#2fe4aa;
    border-radius:2px;
    height:4px;
    margin-bottom:4px;
    width:28px;
    opacity:1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
  .hamburger:hover .top{
    -webkit-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  .hamburger:hover .bottom{
    -webkit-transform:translateY(100%);
    -ms-transform:translateY(100%);
    transform:translateY(100%);
    }
  .hamburger.is-active .top{
    -webkit-transform:translateY(200%) rotate(45deg) !important;
    -ms-transform:translateY(200%) rotate(45deg) !important;
    transform:translateY(200%) rotate(45deg) !important;
  }
  .hamburger.is-active .mid{
    opacity:0;
  }
  .hamburger.is-active .bottom{
    -webkit-transform:translateY(-200%) rotate(135deg) !important;
    -ms-transform:translateY(-200%) rotate(135deg) !important;
    transform:translateY(-200%) rotate(135deg) !important;
  }

  .menuppal.is_active{
    transform: translate3d(0px, 0px, 0px);
  }
  .menuppal{
      background-color: rgba(85, 85, 79, 0.4);
      bottom: 0;
      height: 100%;
      left: 0;
      overflow-y: scroll;
      position: fixed;
      top: 0;
      transform: translate3d(0px, -100%, 0px);
      transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
      width: 100%;
      z-index: 1001;
  }

  .menuppal ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .menuppal ul li {
    color: white;
    font-size: 2.5rem;
    font-weight:bold;
    height:3em;
    list-style: none;
    line-height:3em;
    padding-right: 8%;
    padding-left: 11%;
    text-transform:none;
  }

  .menuppal ul li:nth-child(1){
    padding-top: 19%;
  }

  .menuppal ul li a{
    background: black;
    border-radius: unset;
    text-decoration:none;
  }

  .menuppal ul li a:hover{
    color:white;
    text-decoration:none;
  }

  .menu li{
    float: none;
    margin-left:0%
  }

  .myself{
    background-size: contain;
    width: 100%;
  }

  .myself h2{
    font-size: 3.4rem;
    padding-left: 2%;
  }

  .about-me {
    float: right;
    text-align: center;
    width: 100%;
    padding-top: 5%;
  }

  .social-media_header {
    padding: 0px 0 34% 16%;
  }
  .content-skills{
    display: block;
  }

  .web-skills {
    justify-content: unset;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
  }

  .design-skills {
    justify-content: unset;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
  }

  .soft-skills {
    justify-content:unset;
    padding-left: 0%;
    text-align: center;
  }

  .Projects {
    display: flex;
    margin: auto;
    margin-bottom: 10%;
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }

  .project{
    align-items: center;
    justify-content: center;
  }

  .Main-content2 {
    display: block;
  }

  .background-firstproject{
    height: 300px;
    margin-bottom: 4%;
    margin-left: 0%;
  }

  .background-secondproject{
    height: 294px;
    margin-bottom: 4%;
  }

  .background-thirproject{
    height: 280px;
    margin-bottom: 4%;
  }


  .category2 {
    padding-bottom: 0%;
  }

  .footer {
    display: block;
  }

  .contact-left {
    text-align: center;
    padding-left: 0;
  }

  .white-logo-footer {
    margin-top: 2%;
    padding-left: 0%;
    width: 68px;
  }

  .social-media_footer {
    margin-top: 4%;
  }

  .main-footer {
    padding-left: 0%;
    text-align: center;
  }

  .footer-contact {
    padding-left: 0%;
    text-align: center;
  }
  .footer-contact input{
    margin-bottom: 4%;
  }

  .contact-me {
    width: 100%;
  }

  .info-contact-me {
    display: unset;
    margin-top: 6%;
    margin: 0 auto;
    width: 100%;
  }

  .info-contact-me img{
    margin-top: 0;
    margin-right: 0;
  }
  .localizacion {
    display: unset;
    text-align: center;
    margin-right: 0%;
  }

  .Correo{
    display: unset;
    text-align: center;
  }

  .info-contact-me h3 {
    color: #82CACE;
  }

  .Telefono {
    display: unset;
    margin-left: 0;
    text-align: center;
  }
  .background-1 {
    @include backroundPhone;
    margin-right: 4%;
  }

  .background-2 {
    @include backroundPhone;
    margin-right: 4%;
  }

  .background-3 {
    @include backroundPhone;
    margin-right: 4%;
  }

  .background-4 {
    @include backroundPhone;
  }

  .background-5 {
    @include backroundPhone;
  }

  .background-6 {
    @include backroundPhone;;
  }

  .background-7 {
    @include backroundPhone;
  }
  .background-8 {
    @include backroundPhone;
  }
  .background-9 {
    @include backroundPhone;
  }
  .background-10 {
    @include backroundPhone;
  }
  .background-11 {
    @include backroundPhone;
  }
  .background-12 {
    @include backroundPhone;
  }


  .white-logo-p img {
    padding-top: 6.3%;
    width: 91px;
  }
  .first-section{
    display: unset;
  }

  .second-section{
    display: unset;
  }

  .third-section{
    display: unset;
  }
  svg{
    width: 20%;
    height: 20%;
  }

  .main-footer p{
    margin-left: 0;
  }

  .social-media_footer{
    margin-left: 0;
  }

  .web-skills h2{
    display: block;
  }
}
