.info-contact-me{
  float: left;
  margin-left: 5%;
  margin-top: 9.3%;
  width: 50%;
}

.info-contact-me img{
  margin-top: 20px;
  margin-right: 20px;
  width:45px ;
}

.ubicacion{
  font-size: 1.5rem;
}

.E-mail{
  font-size: 1.5rem;
}

.Phone{
  font-size: 1.5rem;
}

.localizacion{
  display: flex;
  margin-bottom: 3%;
}
.Correo{
  display: flex;
  margin-bottom: 3%;
}

.Telefono{
  display: flex;
}

.info-contact-me h3{
  color:#82CACE;
  margin-top: 15px;
}

.contact-me{
  float: right;
  width: 45%;
  margin-top:3%;
}

.Contact{
  text-align: center;
}

.Contact h2{
  font-size: 2.5rem;
}

.Contact p{
  font-size: 1.25rem;
}

.form input:nth-child(1){
  margin-top: 5%;
}

.form  h2{
  color: #9f9a96;
  font-size: 1.25rem;
  margin: 0;
}

.form input:hover{
  border-bottom: 2px solid cornflowerblue;
}

.form textarea{
  border: none;
  border-bottom: 2px solid  white ;
  background-color: transparent;
  margin-bottom: 60px;
  resize: none;
  width: 100%;
}

.form input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid  white ;
  font-size: 1.25rem;
  margin-bottom: 8%;
  width: 100%;
}

//Cambia el color del placeholder//
.form input::-webkit-input-placeholder {color: #9f9a96; }

.form button{
  font-size: 1.56rem;
  background-color: #782436;
  border: none;
  border-radius: 4px;
  display: block;
  margin-top: 3%;
  margin: 0 auto;
  padding: 18px 100px 18px 100px;
}

.form button:hover{
  background: #a72844;
  box-shadow: 0 0 10px #a72844,
              0 0 40px #a72844,
}

#special-menu{
  padding-right: 0.5%;
}
